xml-examples/zzz_Application_1_3/application_1_3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="application">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="icon" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="small-icon" minOccurs="0">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute name="id" type="xsd:ID"/>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="large-icon" minOccurs="0">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute name="id" type="xsd:ID"/>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="id" type="xsd:ID"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="display-name">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="id" type="xsd:ID"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="description" type="descriptionType" minOccurs="0"/>
				<xsd:element name="module" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:choice>
								<xsd:element name="connector">
									<xsd:complexType>
										<xsd:simpleContent>
											<xsd:extension base="xsd:string">
												<xsd:attribute name="id" type="xsd:ID"/>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="ejb">
									<xsd:complexType>
										<xsd:simpleContent>
											<xsd:extension base="xsd:string">
												<xsd:attribute name="id" type="xsd:ID"/>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="java">
									<xsd:complexType>
										<xsd:simpleContent>
											<xsd:extension base="xsd:string">
												<xsd:attribute name="id" type="xsd:ID"/>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="web">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="web-uri">
												<xsd:complexType>
													<xsd:simpleContent>
														<xsd:extension base="xsd:string">
															<xsd:attribute name="id" type="xsd:ID"/>
														</xsd:extension>
													</xsd:simpleContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element name="context-root">
												<xsd:complexType>
													<xsd:simpleContent>
														<xsd:extension base="xsd:string">
															<xsd:attribute name="id" type="xsd:ID"/>
														</xsd:extension>
													</xsd:simpleContent>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
										<xsd:attribute name="id" type="xsd:ID"/>
									</xsd:complexType>
								</xsd:element>
							</xsd:choice>
							<xsd:element name="alt-dd" minOccurs="0">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute name="id" type="xsd:ID"/>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="id" type="xsd:ID"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="security-role" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="description" type="descriptionType" minOccurs="0"/>
							<xsd:element name="role-name">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute name="id" type="xsd:ID"/>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="id" type="xsd:ID"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:ID"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="descriptionType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
