xml-examples/Jnlp/jnlp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<xsd:schema xmlns:fg="http://www.FGolubov.com/XMLEditor" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="jnlp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="information" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="title" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:appinfo>
 										<fg:node-info exposed="true"/>
									</xsd:appinfo>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="vendor" type="xsd:string" minOccurs="0"/>
							<xsd:element name="homepage" minOccurs="0">
								<xsd:annotation>
									<xsd:appinfo>
 										<fg:node-info exposed="true"/>
									</xsd:appinfo>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:attribute name="href" type="xsd:string" use="required">
										<xsd:annotation>
											<xsd:appinfo>
 												<fg:node-info exposed="true"/>
											</xsd:appinfo>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="description" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute name="kind">
												<xsd:simpleType>
													<xsd:restriction base="xsd:NMTOKEN">
														<xsd:enumeration value="one-line"/>
														<xsd:enumeration value="short"/>
														<xsd:enumeration value="tooltip"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="icon" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:attribute name="href" type="xsd:string" use="required">
										<xsd:annotation>
											<xsd:appinfo>
					 							<fg:node-info exposed="true"/>
											</xsd:appinfo>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="version" type="xsd:string"/>
									<xsd:attribute name="width" type="xsd:string"/>
									<xsd:attribute name="height" type="xsd:string"/>
									<xsd:attribute name="kind" default="default">
										<xsd:simpleType>
											<xsd:restriction base="xsd:NMTOKEN">
												<xsd:enumeration value="default"/>
												<xsd:enumeration value="selected"/>
												<xsd:enumeration value="disabled"/>
												<xsd:enumeration value="rollover"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="depth" type="xsd:string"/>
									<xsd:attribute name="size" type="xsd:string"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="offline-allowed" minOccurs="0">
								<xsd:complexType/>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="locale" type="xsd:string"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="security" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="all-permissions" minOccurs="0">
								<xsd:annotation>
									<xsd:appinfo>
 										<fg:node-info exposed="true"/>
									</xsd:appinfo>
								</xsd:annotation>
								<xsd:complexType/>
							</xsd:element>
							<xsd:element name="j2ee-application-client-permissions" minOccurs="0">
								<xsd:annotation>
									<xsd:appinfo>
 										<fg:node-info exposed="true"/>
									</xsd:appinfo>
								</xsd:annotation>
								<xsd:complexType/>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="resources" type="resourcesType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:choice>
					<xsd:element name="application-desc">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="argument" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
							</xsd:sequence>
							<xsd:attribute name="main-class" type="xsd:string">
								<xsd:annotation>
									<xsd:appinfo>
 										<fg:node-info exposed="true"/>
									</xsd:appinfo>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="applet-desc">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="param" minOccurs="0" maxOccurs="unbounded">
									<xsd:complexType>
										<xsd:attribute name="name" type="xsd:string" use="required">
											<xsd:annotation>
												<xsd:appinfo>
 													<fg:node-info exposed="true"/>
												</xsd:appinfo>
											</xsd:annotation>
										</xsd:attribute>
										<xsd:attribute name="value" type="xsd:string" use="required">
											<xsd:annotation>
												<xsd:appinfo>
 													<fg:node-info exposed="true"/>
												</xsd:appinfo>
											</xsd:annotation>
										</xsd:attribute>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
							<xsd:attribute name="documentbase" type="xsd:string"/>
							<xsd:attribute name="main-class" type="xsd:string" use="required">
								<xsd:annotation>
									<xsd:appinfo>
 										<fg:node-info exposed="true"/>
									</xsd:appinfo>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="name" type="xsd:string" use="required">
								<xsd:annotation>
									<xsd:appinfo>
 										<fg:node-info exposed="true"/>
									</xsd:appinfo>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="width" type="xsd:string" use="required"/>
							<xsd:attribute name="height" type="xsd:string" use="required"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="component-desc">
						<xsd:complexType/>
					</xsd:element>
					<xsd:element name="installer-desc">
						<xsd:complexType>
							<xsd:attribute name="main-class" type="xsd:string">
								<xsd:annotation>
									<xsd:appinfo>
 										<fg:node-info exposed="true"/>
									</xsd:appinfo>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attribute name="spec" type="xsd:string"/>
			<xsd:attribute name="version" type="xsd:string"/>
			<xsd:attribute name="codebase" type="xsd:string"/>
			<xsd:attribute name="href" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="resourcesType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="j2se">
				<xsd:annotation>
					<xsd:appinfo>
						<fg:node-info exposed="true"/>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="resources" type="resourcesType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="version" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:appinfo>
 								<fg:node-info exposed="true"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="href" type="xsd:string"/>
					<xsd:attribute name="initial-heap-size" type="xsd:string"/>
					<xsd:attribute name="max-heap-size" type="xsd:string"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="jar">
				<xsd:annotation>
					<xsd:appinfo>
						<fg:node-info exposed="true"/>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name="href" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:appinfo>
 								<fg:node-info exposed="true"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="version" type="xsd:string"/>
					<xsd:attribute name="main" default="false">
						<xsd:simpleType>
							<xsd:restriction base="xsd:NMTOKEN">
								<xsd:enumeration value="true"/>
								<xsd:enumeration value="false"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="download" default="eager">
						<xsd:simpleType>
							<xsd:restriction base="xsd:NMTOKEN">
								<xsd:enumeration value="eager"/>
								<xsd:enumeration value="lazy"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="size" type="xsd:string"/>
					<xsd:attribute name="part" type="xsd:string"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="nativelib">
				<xsd:annotation>
					<xsd:appinfo>
						<fg:node-info exposed="true"/>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name="href" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:appinfo>
 								<fg:node-info exposed="true"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="version" type="xsd:string"/>
					<xsd:attribute name="download" default="eager">
						<xsd:simpleType>
							<xsd:restriction base="xsd:NMTOKEN">
								<xsd:enumeration value="eager"/>
								<xsd:enumeration value="lazy"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="size" type="xsd:string"/>
					<xsd:attribute name="part" type="xsd:string"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="extension">
				<xsd:annotation>
					<xsd:appinfo>
 						<fg:node-info exposed="true"/>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ext-download" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:attribute name="ext-part" type="xsd:string" use="required">
									<xsd:annotation>
										<xsd:appinfo>
 											<fg:node-info exposed="true"/>
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:attribute>
								<xsd:attribute name="download" default="eager">
									<xsd:simpleType>
										<xsd:restriction base="xsd:NMTOKEN">
											<xsd:enumeration value="lazy"/>
											<xsd:enumeration value="eager"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="part" type="xsd:string"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="version" type="xsd:string"/>
					<xsd:attribute name="name" type="xsd:string"/>
					<xsd:attribute name="href" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:appinfo>
 								<fg:node-info exposed="true"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="property">
				<xsd:annotation>
					<xsd:appinfo>
						<fg:node-info exposed="true"/>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name="name" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:appinfo>
 								<fg:node-info exposed="true"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="value" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:appinfo>
 								<fg:node-info exposed="true"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="package">
				<xsd:annotation>
					<xsd:appinfo>
						<fg:node-info exposed="true"/>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name="name" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:appinfo>
 								<fg:node-info exposed="true"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="part" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:appinfo>
 								<fg:node-info exposed="true"/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="recursive" default="false">
						<xsd:simpleType>
							<xsd:restriction base="xsd:NMTOKEN">
								<xsd:enumeration value="true"/>
								<xsd:enumeration value="false"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
		<xsd:attribute name="os" type="xsd:string">
			<xsd:annotation>
				<xsd:appinfo>
					<fg:node-info exposed="true"/>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="arch" type="xsd:string">
			<xsd:annotation>
				<xsd:appinfo>
					<fg:node-info exposed="true"/>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="locale" type="xsd:string">
			<xsd:annotation>
				<xsd:appinfo>
					<fg:node-info exposed="true"/>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>
