xml-examples/zzz_JBoss_3_0/jboss_3_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:complexType name="cluster-configType">
		<xsd:sequence>
			<xsd:element name="partition-name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="home-load-balance-policy" type="xsd:string" minOccurs="0"/>
			<xsd:element name="bean-load-balance-policy" type="xsd:string" minOccurs="0"/>
			<xsd:element name="session-state-manager-jndi-name" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ejb-refType">
		<xsd:sequence>
			<xsd:element name="ejb-ref-name" type="xsd:string"/>
			<xsd:element name="jndi-name" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="interceptorType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="transaction" default="Both">
					<xsd:simpleType>
						<xsd:restriction base="xsd:NMTOKEN">
							<xsd:enumeration value="Bean"/>
							<xsd:enumeration value="Container"/>
							<xsd:enumeration value="Both"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="metricsEnabled" default="false">
					<xsd:simpleType>
						<xsd:restriction base="xsd:NMTOKEN">
							<xsd:enumeration value="true"/>
							<xsd:enumeration value="false"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="jboss">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="enforce-ejb-restrictions" type="xsd:string" minOccurs="0"/>
				<xsd:element name="security-domain" type="xsd:string" minOccurs="0"/>
				<xsd:element name="unauthenticated-principal" type="xsd:string" minOccurs="0"/>
				<xsd:element name="enterprise-beans" minOccurs="0">
					<xsd:complexType>
						<xsd:choice maxOccurs="unbounded">
							<xsd:element name="session">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ejb-name" type="xsd:string"/>
										<xsd:element name="jndi-name" type="xsd:string" minOccurs="0"/>
										<xsd:element name="local-jndi-name" type="xsd:string" minOccurs="0"/>
										<xsd:element name="home-invoker" type="xsd:string" minOccurs="0"/>
										<xsd:element name="bean-invoker"  type="xsd:string" minOccurs="0"/>
										<xsd:element name="configuration-name" type="xsd:string" minOccurs="0"/>
										<xsd:element name="security-proxy" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ejb-ref" type="ejb-refType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="resource-ref" type="resource-refType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="resource-env-ref" type="resource-env-refType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="clustered"  type="xsd:string" minOccurs="0"/>
										<xsd:element name="cluster-config" type="cluster-configType" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="entity">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ejb-name" type="xsd:string"/>
										<xsd:element name="jndi-name" type="xsd:string" minOccurs="0"/>
										<xsd:element name="local-jndi-name" type="xsd:string" minOccurs="0"/>
										<xsd:element name="read-only" type="xsd:string" minOccurs="0"/>
										<xsd:element name="home-invoker" type="xsd:string" minOccurs="0"/>
										<xsd:element name="bean-invoker"  type="xsd:string" minOccurs="0"/>
										<xsd:element name="configuration-name" type="xsd:string" minOccurs="0"/>
										<xsd:element name="security-proxy" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ejb-ref" type="ejb-refType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="resource-ref" type="resource-refType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="resource-env-ref" type="resource-env-refType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="clustered"  type="xsd:string" minOccurs="0"/>
										<xsd:element name="cluster-config" type="cluster-configType" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="message-driven">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ejb-name" type="xsd:string"/>
										<xsd:element name="destination-jndi-name" type="xsd:string"/>
										<xsd:element name="mdb-user" type="xsd:string" minOccurs="0"/>
										<xsd:element name="mdb-passwd" type="xsd:string" minOccurs="0"/>
										<xsd:element name="mdb-client-id" type="xsd:string" minOccurs="0"/>
										<xsd:element name="mdb-subscription-id" type="xsd:string" minOccurs="0"/>
										<xsd:element name="configuration-name" type="xsd:string" minOccurs="0"/>
										<xsd:element name="security-proxy" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ejb-ref" type="ejb-refType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="resource-ref" type="resource-refType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="resource-env-ref" type="resource-env-refType" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="resource-managers" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="resource-manager" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="res-name" type="xsd:string"/>
										<xsd:choice>
											<xsd:element name="res-jndi-name" type="xsd:string"/>
											<xsd:element name="res-url" type="xsd:string"/>
										</xsd:choice>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="container-configurations" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="container-configuration" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="container-name" type="xsd:string"/>
										<xsd:element name="call-logging" type="xsd:string" minOccurs="0"/>
										<xsd:element name="container-invoker" type="xsd:string" minOccurs="0"/>
										<xsd:element name="home-invoker" type="xsd:string" minOccurs="0"/>
										<xsd:element name="bean-invoker"  type="xsd:string" minOccurs="0"/>
										<xsd:element name="container-interceptors" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="interceptor" type="interceptorType" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="client-interceptors" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="home">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="interceptor" type="interceptorType" maxOccurs="unbounded"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="bean">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="interceptor" type="interceptorType" maxOccurs="unbounded"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="instance-pool" type="xsd:string" minOccurs="0"/>
										<xsd:element name="instance-cache" type="xsd:string" minOccurs="0"/>
										<xsd:element name="persistence-manager" type="xsd:string" minOccurs="0"/>
										<xsd:element name="transaction-manager" type="xsd:string" minOccurs="0"/>
										<xsd:element name="web-class-loader" type="xsd:string" minOccurs="0"/>
										<xsd:element name="locking-policy" type="xsd:string" minOccurs="0"/>
										<xsd:element name="container-invoker-conf" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="JMSProviderAdapterJNDI" type="xsd:string" minOccurs="0"/>
													<xsd:element name="ServerSessionPoolFactoryJNDI" type="xsd:string" minOccurs="0"/>
													<!--xsd:element ref="MaximumSize" minOccurs="0"/-->
													<xsd:element name="MaximumSize" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MaxMessages" type="xsd:string" minOccurs="0"/>
													<xsd:element name="MDBConfig" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="ReconnectIntervalSec" type="xsd:string"/>
																<xsd:element name="DLQConfig" minOccurs="0">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="DestinationQueue" type="xsd:string"/>
																			<xsd:element name="MaxTimesRedelivered" type="xsd:string"/>
																			<xsd:element name="TimeToLive" type="xsd:string"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="container-cache-conf" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="cache-policy" type="xsd:string" minOccurs="0"/>
													<xsd:element name="cache-policy-conf" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="min-capacity" type="xsd:string"/>
																<xsd:element name="max-capacity" type="xsd:string"/>
																<xsd:element name="remover-period" type="xsd:string" minOccurs="0"/>
																<xsd:element name="max-bean-life" type="xsd:string" minOccurs="0"/>
																<xsd:element name="overager-period" type="xsd:string"/>
																<xsd:element name="max-bean-age" type="xsd:string"/>
																<xsd:element name="resizer-period" type="xsd:string"/>
																<xsd:element name="max-cache-miss-period" type="xsd:string"/>
																<xsd:element name="min-cache-miss-period" type="xsd:string"/>
																<xsd:element name="cache-load-factor" type="xsd:string"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="container-pool-conf" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="MaximumSize" type="xsd:string"/>
													<xsd:element name="feeder-policy" type="xsd:string"/>
													<xsd:element name="feeder-policy-conf">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="increment" type="xsd:string"/>
																<xsd:element name="period" type="xsd:string"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="commit-option" type="xsd:string" minOccurs="0"/>
										<xsd:element name="optiond-refresh-rate" type="xsd:string" minOccurs="0"/>
										<xsd:element name="security-domain" type="xsd:string" minOccurs="0"/>
										<xsd:element name="cluster-config" type="cluster-configType" minOccurs="0"/>
									</xsd:sequence>
									<xsd:attribute name="extends" type="xsd:string"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="resource-env-refType">
		<xsd:sequence>
			<xsd:element name="resource-env-ref-name" type="xsd:string"/>
			<xsd:element name="jndi-name" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="resource-refType">
		<xsd:sequence>
			<xsd:element name="res-ref-name" type="xsd:string"/>
			<xsd:choice>
				<xsd:element name="resource-name" type="xsd:string"/>
				<xsd:element name="jndi-name" type="xsd:string"/>
				<xsd:element name="res-url" type="xsd:string"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
