xml-examples/zzz_Ejb-jar_2_0/ejb-jar_2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:complexType name="descriptionType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="display-nameType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ejb-classType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="ejb-relationship-roleType">
		<xsd:sequence>
			<xsd:element name="description" type="descriptionType" minOccurs="0"/>
			<xsd:element name="ejb-relationship-role-name" minOccurs="0">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="id" type="xsd:ID"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="multiplicity">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="id" type="xsd:ID"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="cascade-delete" minOccurs="0">
				<xsd:complexType>
					<xsd:attribute name="id" type="xsd:ID"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="relationship-role-source">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="description" type="descriptionType" minOccurs="0"/>
						<xsd:element name="ejb-name" type="ejb-nameType"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="xsd:ID"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="cmr-field" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="description" type="descriptionType" minOccurs="0"/>
						<xsd:element name="cmr-field-name">
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="xsd:string">
										<xsd:attribute name="id" type="xsd:ID"/>
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="cmr-field-type" minOccurs="0">
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="xsd:string">
										<xsd:attribute name="id" type="xsd:ID"/>
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="id" type="xsd:ID"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID"/>
	</xsd:complexType>
	
	<xsd:element name="ejb-jar">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="description" type="descriptionType" minOccurs="0"/>
				<xsd:element name="display-name" type="display-nameType" minOccurs="0"/>
				<xsd:element name="small-icon" type="small-iconType" minOccurs="0"/>
				<xsd:element name="large-icon" type="large-iconType" minOccurs="0"/>
				<xsd:element name="enterprise-beans">
					<xsd:complexType>
						<xsd:choice maxOccurs="unbounded">
							<xsd:element name="session">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="description" type="descriptionType" minOccurs="0"/>
										<xsd:element name="display-name" type="display-nameType" minOccurs="0"/>
										<xsd:element name="small-icon" type="small-iconType" minOccurs="0"/>
										<xsd:element name="large-icon" type="large-iconType" minOccurs="0"/>
										<xsd:element name="ejb-name" type="ejb-nameType"/>
										<xsd:element name="home" type="homeType" minOccurs="0"/>
										<xsd:element name="remote" type="remoteType" minOccurs="0"/>
										<xsd:element name="local-home" type="local-homeType" minOccurs="0"/>
										<xsd:element name="local" type="localType" minOccurs="0"/>
										<xsd:element name="ejb-class" type="ejb-classType"/>
										<xsd:element name="session-type">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="id" type="xsd:ID"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="transaction-type" type="transaction-typeType"/>
										<xsd:element name="env-entry" type="env-entryType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="ejb-ref" type="ejb-refType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="ejb-local-ref" type="ejb-local-refType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="security-role-ref" type="security-role-refType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="security-identity" type="security-identityType" minOccurs="0"/>
										<xsd:element name="resource-ref" type="resource-refType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="resource-env-ref" type="resource-env-refType" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
									<xsd:attribute name="id" type="xsd:ID"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="entity">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="description" type="descriptionType" minOccurs="0"/>
										<xsd:element name="display-name" type="display-nameType" minOccurs="0"/>
										<xsd:element name="small-icon" type="small-iconType" minOccurs="0"/>
										<xsd:element name="large-icon" type="large-iconType" minOccurs="0"/>
										<xsd:element name="ejb-name" type="ejb-nameType"/>
										<xsd:element name="home" type="homeType" minOccurs="0"/>
										<xsd:element name="remote" type="remoteType" minOccurs="0"/>
										<xsd:element name="local-home" type="local-homeType" minOccurs="0"/>
										<xsd:element name="local" type="localType" minOccurs="0"/>
										<xsd:element name="ejb-class" type="ejb-classType"/>
										<xsd:element name="persistence-type">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="id" type="xsd:ID"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="prim-key-class">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="id" type="xsd:ID"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="reentrant">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="id" type="xsd:ID"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="cmp-version" minOccurs="0">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="id" type="xsd:ID"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="abstract-schema-name" minOccurs="0">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="id" type="xsd:ID"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="cmp-field" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="description" type="descriptionType" minOccurs="0"/>
													<xsd:element name="field-name">
														<xsd:complexType>
															<xsd:simpleContent>
																<xsd:extension base="xsd:string">
																	<xsd:attribute name="id" type="xsd:ID"/>
																</xsd:extension>
															</xsd:simpleContent>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
												<xsd:attribute name="id" type="xsd:ID"/>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="primkey-field" minOccurs="0">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="id" type="xsd:ID"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="env-entry" type="env-entryType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="ejb-ref" type="ejb-refType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="ejb-local-ref" type="ejb-local-refType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="security-role-ref" type="security-role-refType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="security-identity" type="security-identityType" minOccurs="0"/>
										<xsd:element name="resource-ref" type="resource-refType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="resource-env-ref" type="resource-env-refType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="query" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="description" type="descriptionType" minOccurs="0"/>
													<xsd:element name="query-method">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="method-name" type="method-nameType"/>
																<xsd:element name="method-intf" type="method-intfType" minOccurs="0"/>
																<xsd:element name="method-params" type="method-paramsType"/>
															</xsd:sequence>
															<xsd:attribute name="id" type="xsd:ID"/>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="result-type-mapping" minOccurs="0">
														<xsd:complexType>
															<xsd:simpleContent>
																<xsd:extension base="xsd:string">
																	<xsd:attribute name="id" type="xsd:ID"/>
																</xsd:extension>
															</xsd:simpleContent>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="ejb-ql">
														<xsd:complexType>
															<xsd:simpleContent>
																<xsd:extension base="xsd:string">
																	<xsd:attribute name="id" type="xsd:ID"/>
																</xsd:extension>
															</xsd:simpleContent>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
												<xsd:attribute name="id" type="xsd:ID"/>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="id" type="xsd:ID"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="message-driven">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="description" type="descriptionType" minOccurs="0"/>
										<xsd:element name="display-name" type="display-nameType" minOccurs="0"/>
										<xsd:element name="small-icon" type="small-iconType" minOccurs="0"/>
										<xsd:element name="large-icon" type="large-iconType" minOccurs="0"/>
										<xsd:element name="ejb-name" type="ejb-nameType"/>
										<xsd:element name="ejb-class" type="ejb-classType"/>
										<xsd:element name="transaction-type" type="transaction-typeType"/>
										<xsd:element name="message-selector" minOccurs="0">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="id" type="xsd:ID"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="acknowledge-mode" minOccurs="0">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="id" type="xsd:ID"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="message-driven-destination" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="destination-type">
														<xsd:complexType>
															<xsd:simpleContent>
																<xsd:extension base="xsd:string">
																	<xsd:attribute name="id" type="xsd:ID"/>
																</xsd:extension>
															</xsd:simpleContent>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="subscription-durability" minOccurs="0">
														<xsd:complexType>
															<xsd:simpleContent>
																<xsd:extension base="xsd:string">
																	<xsd:attribute name="id" type="xsd:ID"/>
																</xsd:extension>
															</xsd:simpleContent>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
												<xsd:attribute name="id" type="xsd:ID"/>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="env-entry" type="env-entryType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="ejb-ref" type="ejb-refType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="ejb-local-ref" type="ejb-local-refType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="security-identity" type="security-identityType" minOccurs="0"/>
										<xsd:element name="resource-ref" type="resource-refType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="resource-env-ref" type="resource-env-refType" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
									<xsd:attribute name="id" type="xsd:ID"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:choice>
						<xsd:attribute name="id" type="xsd:ID"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="relationships" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="description" type="descriptionType" minOccurs="0"/>
							<xsd:element name="ejb-relation" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="description" type="descriptionType" minOccurs="0"/>
										<xsd:element name="ejb-relation-name" minOccurs="0">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="id" type="xsd:ID"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="ejb-relationship-role" type = "ejb-relationship-roleType" minOccurs="2" maxOccurs="2"/>
									</xsd:sequence>
									<xsd:attribute name="id" type="xsd:ID"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="id" type="xsd:ID"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="assembly-descriptor" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="security-role" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="description" type="descriptionType" minOccurs="0"/>
										<xsd:element name="role-name" type="role-nameType"/>
									</xsd:sequence>
									<xsd:attribute name="id" type="xsd:ID"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="method-permission" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="description" type="descriptionType" minOccurs="0"/>
										<xsd:choice>
											<xsd:element name="role-name" type="role-nameType" maxOccurs="unbounded"/>
											<xsd:element name="unchecked">
												<xsd:complexType>
													<xsd:attribute name="id" type="xsd:ID"/>
												</xsd:complexType>
											</xsd:element>
										</xsd:choice>
										<xsd:element name="method" type="methodType" maxOccurs="unbounded"/>
									</xsd:sequence>
									<xsd:attribute name="id" type="xsd:ID"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="container-transaction" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="description" type="descriptionType" minOccurs="0"/>
										<xsd:element name="method" type="methodType" maxOccurs="unbounded"/>
										<xsd:element name="trans-attribute">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="id" type="xsd:ID"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="id" type="xsd:ID"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="exclude-list" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="description" type="descriptionType" minOccurs="0"/>
										<xsd:element name="method" type="methodType" maxOccurs="unbounded"/>
									</xsd:sequence>
									<xsd:attribute name="id" type="xsd:ID"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="id" type="xsd:ID"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ejb-client-jar" minOccurs="0">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="id" type="xsd:ID"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:ID"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ejb-linkType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ejb-local-refType">
		<xsd:sequence>
			<xsd:element name="description" type="descriptionType" minOccurs="0"/>
			<xsd:element name="ejb-ref-name" type="ejb-ref-nameType"/>
			<xsd:element name="ejb-ref-type" type="ejb-ref-typeType"/>
			<xsd:element name="local-home" type="local-homeType"/>
			<xsd:element name="local" type="localType"/>
			<xsd:element name="ejb-link" type="ejb-linkType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID"/>
	</xsd:complexType>
	<xsd:complexType name="ejb-nameType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ejb-refType">
		<xsd:sequence>
			<xsd:element name="description" type="descriptionType" minOccurs="0"/>
			<xsd:element name="ejb-ref-name" type="ejb-ref-nameType"/>
			<xsd:element name="ejb-ref-type" type="ejb-ref-typeType"/>
			<xsd:element name="home" type="homeType"/>
			<xsd:element name="remote" type="remoteType"/>
			<xsd:element name="ejb-link" type="ejb-linkType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID"/>
	</xsd:complexType>
	<xsd:complexType name="ejb-ref-nameType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ejb-ref-typeType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="env-entryType">
		<xsd:sequence>
			<xsd:element name="description" type="descriptionType" minOccurs="0"/>
			<xsd:element name="env-entry-name">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="id" type="xsd:ID"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="env-entry-type">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="id" type="xsd:ID"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="env-entry-value" minOccurs="0">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="id" type="xsd:ID"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID"/>
	</xsd:complexType>
	<xsd:complexType name="homeType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="large-iconType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="localType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="local-homeType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="methodType">
		<xsd:sequence>
			<xsd:element name="description" type="descriptionType" minOccurs="0"/>
			<xsd:element name="ejb-name" type="ejb-nameType"/>
			<xsd:element name="method-intf" type="method-intfType" minOccurs="0"/>
			<xsd:element name="method-name" type="method-nameType"/>
			<xsd:element name="method-params" type="method-paramsType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID"/>
	</xsd:complexType>
	<xsd:complexType name="method-intfType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="method-nameType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="method-paramsType">
		<xsd:sequence>
			<xsd:element name="method-param" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="id" type="xsd:ID"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID"/>
	</xsd:complexType>
	<xsd:complexType name="remoteType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="resource-env-refType">
		<xsd:sequence>
			<xsd:element name="description" type="descriptionType" minOccurs="0"/>
			<xsd:element name="resource-env-ref-name">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="id" type="xsd:ID"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="resource-env-ref-type">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="id" type="xsd:ID"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID"/>
	</xsd:complexType>
	<xsd:complexType name="resource-refType">
		<xsd:sequence>
			<xsd:element name="description" type="descriptionType" minOccurs="0"/>
			<xsd:element name="res-ref-name">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="id" type="xsd:ID"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="res-type">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="id" type="xsd:ID"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="res-auth">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="id" type="xsd:ID"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="res-sharing-scope" minOccurs="0">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="id" type="xsd:ID"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID"/>
	</xsd:complexType>
	<xsd:complexType name="role-nameType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="security-identityType">
		<xsd:sequence>
			<xsd:element name="description" type="descriptionType" minOccurs="0"/>
			<xsd:choice>
				<xsd:element name="use-caller-identity">
					<xsd:complexType>
						<xsd:attribute name="id" type="xsd:ID"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="run-as">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="description" type="descriptionType" minOccurs="0"/>
							<xsd:element name="role-name" type="role-nameType"/>
						</xsd:sequence>
						<xsd:attribute name="id" type="xsd:ID"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID"/>
	</xsd:complexType>
	<xsd:complexType name="security-role-refType">
		<xsd:sequence>
			<xsd:element name="description" type="descriptionType" minOccurs="0"/>
			<xsd:element name="role-name" type="role-nameType"/>
			<xsd:element name="role-link" minOccurs="0">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="id" type="xsd:ID"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID"/>
	</xsd:complexType>
	<xsd:complexType name="small-iconType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="transaction-typeType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
