xml-examples/Ejb-jar_1_1/ejb-jar_1_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<xsd:schema xmlns:fg="http://www.FGolubov.com/XMLEditor" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:complexType name="descriptionType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="display-nameType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ejb-classType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="ejb-jar">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="description" type="descriptionType" minOccurs="0"/>
				<xsd:element name="display-name" type="display-nameType" minOccurs="0"/>
				<xsd:element name="small-icon" type="small-iconType" minOccurs="0"/>
				<xsd:element name="large-icon" type="large-iconType" minOccurs="0"/>
				<xsd:element name="enterprise-beans">
					<xsd:complexType>
						<xsd:choice maxOccurs="unbounded">
							<xsd:element name="session">
								<xsd:annotation>
									<xsd:appinfo>
										<fg:node-info exposed="true"/>
									</xsd:appinfo>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="description" type="descriptionType" minOccurs="0"/>
										<xsd:element name="display-name" type="display-nameType" minOccurs="0"/>
										<xsd:element name="small-icon" type="small-iconType" minOccurs="0"/>
										<xsd:element name="large-icon" type="large-iconType" minOccurs="0"/>
										<xsd:element name="ejb-name" type="ejb-nameType"/>
										<xsd:element name="home" type="homeType"/>
										<xsd:element name="remote" type="remoteType"/>
										<xsd:element name="ejb-class" type="ejb-classType"/>
										<xsd:element name="session-type">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="id" type="xsd:ID"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="transaction-type">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="id" type="xsd:ID"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="env-entry" type="env-entryType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="ejb-ref" type="ejb-refType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="security-role-ref" type="security-role-refType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="resource-ref" type="resource-refType" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
									<xsd:attribute name="id" type="xsd:ID"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="entity">
								<xsd:annotation>
									<xsd:appinfo>
										<fg:node-info exposed="true"/>
									</xsd:appinfo>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="description" type="descriptionType" minOccurs="0"/>
										<xsd:element name="display-name" type="display-nameType" minOccurs="0"/>
										<xsd:element name="small-icon" type="small-iconType" minOccurs="0"/>
										<xsd:element name="large-icon" type="large-iconType" minOccurs="0"/>
										<xsd:element name="ejb-name" type="ejb-nameType"/>
										<xsd:element name="home" type="homeType"/>
										<xsd:element name="remote" type="remoteType"/>
										<xsd:element name="ejb-class" type="ejb-classType"/>
										<xsd:element name="persistence-type">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="id" type="xsd:ID"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="prim-key-class">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="id" type="xsd:ID"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="reentrant">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="id" type="xsd:ID"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="cmp-field" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="description" type="descriptionType" minOccurs="0"/>
													<xsd:element name="field-name">
														<xsd:complexType>
															<xsd:simpleContent>
																<xsd:extension base="xsd:string">
																	<xsd:attribute name="id" type="xsd:ID"/>
																</xsd:extension>
															</xsd:simpleContent>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
												<xsd:attribute name="id" type="xsd:ID"/>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="primkey-field" minOccurs="0">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="id" type="xsd:ID"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="env-entry" type="env-entryType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="ejb-ref" type="ejb-refType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="security-role-ref" type="security-role-refType" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element name="resource-ref" type="resource-refType" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
									<xsd:attribute name="id" type="xsd:ID"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:choice>
						<xsd:attribute name="id" type="xsd:ID"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="assembly-descriptor" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="security-role" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="description" type="descriptionType" minOccurs="0"/>
										<xsd:element name="role-name" type="role-nameType"/>
									</xsd:sequence>
									<xsd:attribute name="id" type="xsd:ID"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="method-permission" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="description" type="descriptionType" minOccurs="0">
											<xsd:annotation>
												<xsd:appinfo>
													<fg:node-info exposed="true"/>
												</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="role-name" type="role-nameType" maxOccurs="unbounded"/>
										<xsd:element name="method" type="methodType" maxOccurs="unbounded"/>
									</xsd:sequence>
									<xsd:attribute name="id" type="xsd:ID"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="container-transaction" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="description" type="descriptionType" minOccurs="0">
											<xsd:annotation>
												<xsd:appinfo>
													<fg:node-info exposed="true"/>
												</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="method" type="methodType" maxOccurs="unbounded"/>
										<xsd:element name="trans-attribute">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute name="id" type="xsd:ID"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="id" type="xsd:ID"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="id" type="xsd:ID"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ejb-client-jar" minOccurs="0">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="id" type="xsd:ID"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:ID"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ejb-nameType">
		<xsd:annotation>
			<xsd:appinfo>
				<fg:node-info exposed="true"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ejb-refType">
		<xsd:sequence>
			<xsd:element name="description" type="descriptionType" minOccurs="0"/>
			<xsd:element name="ejb-ref-name">
				<xsd:annotation>
					<xsd:appinfo>
						<fg:node-info exposed="true"/>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="id" type="xsd:ID"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ejb-ref-type">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="id" type="xsd:ID"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="home" type="homeType"/>
			<xsd:element name="remote" type="remoteType"/>
			<xsd:element name="ejb-link" minOccurs="0">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="id" type="xsd:ID"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID"/>
	</xsd:complexType>
	<xsd:complexType name="env-entryType">
		<xsd:sequence>
			<xsd:element name="description" type="descriptionType" minOccurs="0"/>
			<xsd:element name="env-entry-name">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="id" type="xsd:ID"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="env-entry-type">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="id" type="xsd:ID"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="env-entry-value" minOccurs="0">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="id" type="xsd:ID"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID"/>
	</xsd:complexType>
	<xsd:complexType name="homeType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="large-iconType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="methodType">
		<xsd:annotation>
			<xsd:appinfo>
				<fg:node-info exposed="true"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="description" type="descriptionType" minOccurs="0"/>
			<xsd:element name="ejb-name" type="ejb-nameType"/>
			<xsd:element name="method-intf" minOccurs="0">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="id" type="xsd:ID"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="method-name">
				<xsd:annotation>
					<xsd:appinfo>
						<fg:node-info exposed="true"/>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="id" type="xsd:ID"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="method-params" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="method-param" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="xsd:string">
										<xsd:attribute name="id" type="xsd:ID"/>
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="id" type="xsd:ID"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID"/>
	</xsd:complexType>
	<xsd:complexType name="remoteType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="resource-refType">
		<xsd:sequence>
			<xsd:element name="description" type="descriptionType" minOccurs="0"/>
			<xsd:element name="res-ref-name">
				<xsd:annotation>
					<xsd:appinfo>
						<fg:node-info exposed="true"/>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="id" type="xsd:ID"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="res-type">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="id" type="xsd:ID"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="res-auth">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="id" type="xsd:ID"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID"/>
	</xsd:complexType>
	<xsd:complexType name="role-nameType">
		<xsd:annotation>
			<xsd:appinfo>
				<fg:node-info exposed="true"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="security-role-refType">
		<xsd:sequence>
			<xsd:element name="description" type="descriptionType" minOccurs="0"/>
			<xsd:element name="role-name" type="role-nameType"/>
			<xsd:element name="role-link" minOccurs="0">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="id" type="xsd:ID"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID"/>
	</xsd:complexType>
	<xsd:complexType name="small-iconType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
